.teratur-button {
	background: var(--color_complementary);
	border-radius: 5px;
	color: #fff;
	display: block;
	font-weight: 500;
	height: fit-content;
	line-height: 25px;
	padding: 10px;
	text-align: center;
	width: fit-content;
}
