a {
	color: var(--color_complementary-5);
	text-decoration: none;

	&:visited {
		color: inherit;
	}

	&:hover,
	&:focus,
	&:active {
		color: var(--color_complementary-4);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
