$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__page-text-max-width-xs: 315px;
$size__page-text-max-width-s: 450px;
$size__page-text-max-width-m: 650px;
$size__page-text-max-width-l: 850px;
$size__page-text-max-width-xl: 1100px;
$size__page-text-max-width-xxl: 1250px;
